
* {
  margin: 0;
  padding: 0;
  /* font-family: Arimo, Arial, Helvetica, sans-serif; */
  box-sizing: border-box;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  font-family: "Alegreya";
  font-weight: 500;
  font-size: 17px;
  position: fixed;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  z-index: 999911;
  background-color: #FFF;
  width: 100%;
}

body,h1,h2,h3,h4,h5,p{
  font-family: open Sans ,sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.tabs > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #777;
  justify-content: center;
  align-items: center;
}
.tabs > ul > li {
  margin-right: 20px;
}
.tabs > ul > li > a {
  text-decoration: none;
  color: #777;
  position: relative;
}

ul > li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #982a1c;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

ul > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: #a7a6a6;
}

ul > li > a:active {
  background-color: #982a1c;
  border-radius: 10px;
  padding: 5px;
}

/* Carousal Section*/

.carousel {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  height: 550px;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/*service*/

.services-section {
  display: flex;
  align-items: center;
  gap: 15px; /* space between line and text */
  color: white;
  background: #18354a; /* or your dark blue background */
  padding: 20px;
  padding-bottom: 50px;
  z-index: 1;
}

.services-section h2 {
  font-weight: bold;
  margin: 0;
  position: relative;
  padding-right: 25px;
  padding-left: 20%;
  font-size: 20px;
}

.services-section h2::after {
  content: "";
  position: absolute;
  right: 0;
  top: -10px;
  height: 200%;
  width: 5px; /* thickness of the vertical line */
  background-color: #4ec3f7; /* the light blue line */
}

.services-section p {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: #AFC0CF;
}


.services-section p {
  font-family: Lato , sans-serif;
  font-size: 14px;
  max-width: 800px;
  margin: 0 auto;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto 20px auto ;
  max-width: 1200px;
  gap: 20px;
  z-index: 2;
}

.service-card {
  display: flex;
  width: 550px;
  height: 150px;
  background: #FFF;
  box-shadow: 0 6px 10px rgba(0,0,0,0.2);
  padding: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.75s cubic-bezier(0, 1, 0.5, 1);
  padding: 5px;
  border: 0.5px solid rgb(117, 117, 117);
  transform: translateY(-30px);
}

.service-card:hover .service-content{
  background-color: #ad3424;
}

.service-card:hover .service-content p{
  color: #faf8f8;
}

.service-card:hover .service-content h3{
  color: #000;
}


.service-image {
  width: 35%;
  height: 100%;
  position: relative;
  overflow: hidden;
   clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.service-image img {
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: cover;
  overflow: hidden;
}

.service-card:hover img {
  transform: scale(1.20); 
  transition: 0.4s ease;
}

.service-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 175px; 
  width: 20px;
  height: 93%;
  margin: 5px 0px;
  background-color: #052950; 
  transform: skewX(-8deg);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.service-image:hover ~ .service-content,
.service-card:hover::before {
  opacity: 1;
}
.service-content {
  width: 75%;
  padding: 15px;
  background-color: #EFF3F6;
clip-path: polygon(1% 0%, 100% 0, 100% 100%, 0% 100%);
transform: translateY(0px);
  z-index: 999;
}

.service-content h3 {
  color: #333333;
  font-weight: 700;
  padding-left: 5px;
  font-size: 15px;
}

.service-content p {
  font-size: 14px;
  font-family: Lato,sans-serif;
  padding: 8px;
  color: #898989;
   overflow: hidden;
}




@media (max-width: 768px) {
  .service-card {
    width: 100%;
    flex-direction: column;
  }

  .service-card img {
    width: 100%;
    height: 200px;
  }

  .service-content {
    width: 100%;
  }
}


/*home-content*/

.home-content{
  color: #898989;
  padding: 20px 60px;
  line-height: 25px;
  word-spacing: 5px;
}
.home-content > p{
  padding: 20px;
}


/* values */

.values{
  background: url('Images/Green-Recycling-main-page-1024x520-1024x520.jpg');
  width: 100%;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  padding: 10px 80px;
  transition: max-height 0.5s ease;
}

.values-card{
  background-color: #FFF;
  padding: 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}


.values-card-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.values-card-content img {
  height: 150px;
  padding: 20px;
}

.values-collapse-card {
  border-radius: 10px;
  border: 1px solid #898989;
  margin: 10px;
}

.values-card-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-top: none;
  margin: 0;
  background-color: #F6F6F6;
  border-radius: 10px;
}

.values-collapse-card:hover .values-card-content {
  max-height: 150px;

}

.values-collapse-card:hover .values-card-head{
  border-bottom: 1px solid #898989;
   border-radius: 10px 10px 0px 0px;
}


/* scroll */
.scroll-images{
  margin: 30px;
}
.sc-img{
display: flex;
flex-direction: row;
justify-content: center;
padding: 30px 0px;
}

.sc-img > img{
 padding-right: 10px;
  width: 300px;

}

.btn > button> i{
  border: 2px solid #B83940;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #B83940;
}
.btn>button{
  border: none;
}
.btn{
  margin-left: 40px;
margin-right: 10px;
}


/* application */
.application{
  background-color: #B83940;
  color: #fff;
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  
}
.app-img img{
  width: 400px;
  overflow: hidden;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}
.app-img{
  position: relative;
}
.app-head{
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;

}
.app-head span{
  font-size: 30px;
  padding-right: 15px;
}
.app-content{
  padding-top: 20px;
}
.form{
  position: absolute;
  background-color: #B83940;
  padding: 10px 20px;
  border-radius: 10px;
  bottom: 50px;
  left: 70px;
  box-shadow: 2px 2px 3px 4px rgba(0, 0, 0, 0.5);
  border: 2px solid #333333;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}
.form:hover{
  background-color: #333333;
  transition: 0.5s ease;
  cursor: pointer;
}


/* footer */

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 40px 60px;
  background-color: #0F181F;
  color: #F2F2F2;
  z-index: 1;
}
.footer {
  position: relative;
  background-color: #0F181F; 
  color: #fff;
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/world-map.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.1;
  z-index: 0;
}

.about{
text-align: center;
  align-content: center;
  width: 40%;
}
.about img{
padding-bottom: 20px;
}

.reachUs h4{
  font-weight: 600;
}

.reachUs > p > i{
background-color: #982a1c;
padding: 5px;
color: #FFF;
height: 25px;
width: 25px;
}
.reachUs>p:first-child{
  font-weight: bold;
}

.foo-link{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #10151B;
  color: #FFF;
  padding: 20px 60px;
  font-weight: bold;
}
.links > a{
  font-size: 20px;
  border: 2px solid #FFF;
  padding: 5px 10px;
  margin-right: 10px;
  color: white;
  border-radius: 10px 10px 00px 10px;
}




/* about */

.about-pic{
  width: 100%;
  object-fit: cover;
}

.container{
  margin: 20px 40px;
}

.container p {
  font-size: 17px;
  padding: 60px 0px;
}

.about-contain h4{
  font-weight: bold;
}

.about-content {
  color: #777777;
  font-family: Noto Sans,sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
